$background-color-live-cell: rgba(255,0,0,1)
$background-color-born-cell: rgba(255,0,0,0.5)
$background-color-dead-cell: rgba(0,0,0,0.3)
$background-image: url("../images/subtle_white_mini_waves.png")
$font: 'Titillium Web', sans-serif

=flexboxpre
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex

body
	background: $background-image



.cell
	background: $background-color-dead-cell
	width: 10px
	height: 10px
	margin: 1px
	font-size: 0.7em

#cellcontainer	
	+flexboxpre
	flex-wrap: wrap	

.alive
	background: $background-color-live-cell

.dead
	background: $background-color-dead-cell

.born
	background: $background-color-born-cell

.centerit
	margin: auto

#board
	margin-bottom: 50px
	font-family: $font

	

button
	margin: 2px !important
	border: 1px solid black !important

.buttonWidth
	width: 100px

#generationCounter
	margin: 10px
	font-size: 2em